body {
    background: gray;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 700px;
    width: 100%;
}

h1, h2 {
    text-align: center;
}

.products {
    display: flex;
    justify-content: space-between;
}

.product {
    text-align: center;
    padding: 10px;
    /* border: 1px solid; */
    margin: 0 10px;
    background-color: #e2e2e2;
    border-radius: 5px;
    width: 30%;
}

.product h2 {
    margin: 0;
}

button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}